<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mission Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.name}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedItem">
    Gender <b>{{selectedItem.gender}}</b>
  </h4>
  <h4 text-center *ngIf="selectedItem">
    Birth Year <b>{{selectedItem.birth_year}}</b>
  </h4>
  <h4 text-center  *ngIf="!selectedItem && isError">
    Page does not exist. Please check the URL.
  </h4>
</ion-content>
