// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/variables";
@import "../theme/base";
@import "../theme/helper";

.c-nav {
  background-color: #e0e3eb;
  .c-nav__menuList {
    background-color: inherit;
  }
  .c-menuList {
    .c-menuList__item, .c-menuList__btn {
      background-color: #e0e3eb;
    }
    .c-menuList__item {
      cursor: pointer;
      .label {
        margin: 0;
      }
    }
    .c-menuList__btn {
      font-size: map-get($text-size, t3);
    }
  }
  .o-logout {
    cursor: pointer;
  }
}
.l-nav {
  .l-nav__profileImg {
    margin: 20px 0;
  }
}
